@media only screen and (max-width:768px) {
  #nav-bar {
    text-align: left;
  }

  #nav-bar ul {
    display: block;
    border: none;
    justify-content: none;
  }

  #nav-bar li {
    border: none;
  }

  #about .about-container {
    grid-template-columns: 1fr;
  }

  .job-info-container {
    display: block;
  }
}