@media only screen and (max-width:992px) {

  /*navbar*/
  #avatar {
    display: none;
  }

  #nav-bar ul {
    margin-bottom: 0;
  }

  .section-title1 {
    padding: 0;
    text-align: center;
    padding-top: 30%;
  }

  .pad {
    padding: 10% 10%;
    font-size: none;
    line-height: 1.5;
  }

  #job-info {
    margin: 0 20px;
  }

  .job-info-container {
    grid-template-columns: repeat(2, 1fr);
  }
}